@model IEnumerable<PokemonGoGetLog.Models.PokemonGetData>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PokemonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            日づけ
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PokemonName)
        </td>
        <td>
            @item.Position.Split()[2]
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @item.CreateDateTime.ToShortDateString()
        </td>
    </tr>
}
</table>
